:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c2929;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.title {
  color: #cf1c34;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #171988;
  cursor: pointer;
  color: #cf1c34;
  transition: border-color 0.25s;
}
button:hover {
  border-color: hsl(121, 86%, 48%);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.input {
  background-color: #171988;
  margin: 5px;
  width: 200px;
  height: 20px;
  color: #cf1c34;
  cursor: pointer;
  border: 1px solid transparent;
  border-color: hsl(121, 86%, 48%);
}
.input:hover {
  border-color: hsl(121, 86%, 48%);
}
.label {
  color: #cf1c34;
  font-size: 1.3em;
}
